/* global */
html {
  box-sizing: border-box;
  font-size: 10px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: Verdana, sans-serif;
  font-size: 1.5rem;
  margin: 0 auto;
  text-align: center;
}

a {
  text-decoration: none;
}

button {
  background: none;
  border: none;
}

span {
  display: block;
}

ul {
  padding-left: 0px;
  list-style: none;
}
