html {
  font-size: 10px;
}

body {
  font-size: 1.8rem;
  margin: 0 auto;
  text-align: center;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding-left: 0;
}

.wrap {
  margin: 0 auto;
  width: 95%;
}

/* banner */

.banner {
  background: #003595;
  color: #ffffff;
  padding: 23px 0;
}

.banner__message {
  font-weight: 700;
  text-align: left;
}

.banner__link {
  color: #ffffff;
  font-weight: 400;
  text-decoration: underline;
}

/* user nav */
.user-nav {
  border-bottom: 2px solid #eeeeee;
  padding: 17px 0;
  text-align: right;
}

.user-nav__link {
  color: #757575;
  font-weight: 600;
}

.user-nav__heartcon {
  color: #5f5f63;
  font-size: 2.5rem;
  font-weight: 100;
  padding: 0px 40px;
}

.user-nav__shop {
  background: #0c97bc;
  padding: 22.75px 63px 18px 63px;
}

.user-nav__shop:hover {
  background: #28afd1;
}

.user-nav__shopcon {
  color: #fdfeff;
  font-size: 2.25rem;
}

/* search-nav */
.search-nav {
  align-items: flex-end;
  display: flex;
  justify-content: space-between;
}

.search-nav__logo {
  flex: 1;
  text-align: left;
}

.search-nav__img {
  width: 130px;
}

.search-nav__form {
  flex: 11;
}

.search-nav__input {
  position: relative;
}

.search-nav__field {
  box-sizing: border-box;
  padding: 12px 42px;
  width: 100%;
}

.search-nav__icon {
  bottom: 10px;
  color: #999a9d;
  left: 14px;
  position: absolute;
}

.search-nav__field {
  border: 1px solid #eeeeee;
  border-radius: 2px;
}

::placeholder {
  color: #a4a5a7;
  font-size: 1.6rem;
  letter-spacing: 1.75px;
}

.search-nav__link {
  flex: 2;
  font-size: 1.5rem;
  font-weight: 600;
  margin-left: 20px;
  text-align: left;
}

.search-nav__link:hover {
  color: #28afd1;
}

/* primary-nav */
.primary-nav {
  display: flex;
  justify-content: space-between;
  font-size: 1.7rem;
  margin: 35px auto;
  max-width: 1400px;
  padding: 0 50px;
  text-transform: uppercase;
}

.primary-nav__link {
  color: #454546;
}

.primary-nav__item:not(:first-child):hover {
  color: #000;
  text-decoration: underline;
  text-decoration-thickness: 2.5px;
}

.primary-nav__item:first-child:hover {
  color: #4f97bc;
  text-decoration: underline;
  text-decoration-thickness: 2.5px;
}

.blue {
  color: #4f97bc;
}
