/* global */
html {
  box-sizing: border-box;
  font-size: 10px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: Verdana, sans-serif;
  font-size: 1.5rem;
  margin: 0 auto;
  text-align: center;
}

a {
  text-decoration: none;
}

button {
  background: none;
  border: none;
  box-shadow: none;
}

input {
  border: none;
  box-shadow: none;
}

span {
  display: block;
}

ul {
  padding-left: 0px;
  list-style: none;
  margin: 0;
}

/* layout */
.wrap {
  min-width: 1000px;
  width: 100%;
}

.nav {
  display: flex;
  flex-direction: column-reverse;
}

.primary-nav {
  background-color: #232f3e;
  padding: 6px 15px;
}

.user-container {
  background-color: #131921;
  padding: 2px 15px;
}

/* user-container */
.user-wrap {
  display: flex;
  align-items: center;
}

.logo {
  width: 125px;
}

.user-container__btn {
  align-items: center;
  color: #fcfcfc;
  display: flex;
}

.user-container__btn-icon {
  font-size: 1.75rem;
  margin-top: 10px;
  margin-right: 5px;
}

.user-container__span {
  color: #ccc;
  font-size: 1.3rem;
  font-weight: 200;
}

.user-container__text {
  text-align: left;
  font-size: 1.4rem;
  font-weight: 700;
}

.search-form {
  flex-grow: 1;
  margin: 0 30px;
  position: relative;
}

.search-form__field {
  border-radius: 5px;
  box-shadow: none;
  height: 45px;
  text-indent: 55px;
  width: 100%;
}

.search-form__btn {
  background-color: #f3f3f3;
  border-radius: 5px 0px 0px 5px;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  color: #606060;
  padding: 14px 10px;
  position: absolute;
  top: 0px;
}

.search-form__btn-icon {
  margin-left: 5px;
}

.search-form__icon {
  background-color: #febd69;
  border-radius: 0px 5px 5px 0px;
  color: #3b3835;
  font-size: 2.3rem;
  padding: 11px 12.5px;
  position: absolute;
  right: 0px;
}

.user-nav {
  align-items: center;
  display: flex;
}

.user-nav__img {
  width: 25px;
  margin-right: 5px;
  margin-top: 15px;
}

.user-nav__item {
  padding: 15px 15px;
  text-align: left;
}

.user-nav__link {
  color: #fcfcfc;
  font-size: 1.4rem;
  font-weight: 600;
  position: relative;
}

.user-nav__icon {
  color: #94999f;
}

.user-nav__span {
  font-size: 1.3rem;
  font-weight: 200;
}

.user-nav__cart {
  font-size: 3.25rem;
}

.user-nav__counter {
  color: #f08804;
  position: absolute;
  bottom: 10px;
  left: 16px;
}

.user-container__btn:hover,
.user-nav__item:hover {
  border: 1px solid #fff;
}

/* primary-nav */
.primary-wrap {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.primary-nav__item:last-of-type {
  font-weight: 600;
  margin-left: auto;
}

.primary-nav__link,
.primary-nav__btn {
  color: #ffffff;
  font-size: 1.5rem;
  padding: 5px 11px;
}

.primary-nav__btn {
  font-weight: 600;
}

.primary-nav__btn-icon {
  font-size: 1.9rem;
  margin-right: 5px;
}

.primary-nav__link:hover,
.primary-nav__btn:hover {
  border: 1px solid #fff;
}
