html {
  font-size: 10px;
}

body {
  margin: 0 auto;
  text-align: center;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

a {
  color: #000;
  font-size: 1.5rem;
  text-decoration: none;
}

p {
  font-size: 1.5rem;
  margin: 0;
}

.wrap {
  margin: 0 auto;
  max-width: 1800px;
}

.red {
  color: #f0005f;
}

/* banner */
.banner {
  background-color: #000;
  color: #fff;
  padding: 15px 0px;
}

.banner__message {
  display: inline;
  font-family: "Gill Sans", sans-serif;
  font-size: 1.85rem;
  font-weight: 600;
  text-transform: uppercase;
}

.banner__link {
  color: #fff;
  margin-left: 30px;
  text-decoration: underline;
}

/* nav */
.nav {
  border-bottom: 1px solid #eeeeee;
  display: flex;
  flex-direction: column-reverse;
}

/* nav-secondary */
.color-wrap {
  background-color: #f5f5f5;
}

.nav-secondary {
  display: flex;
  justify-content: space-between;
}

.info {
  align-items: center;
  display: flex;
}

.info__logo {
  width: 160px;
}

.info__text {
  border-left: 1px solid #e1e1e1;
  padding: 15px 5px 15px 15px;
}

.info__link {
  text-decoration: underline;
}

.nav-secondary__list {
  align-items: center;
  display: flex;
  margin-right: 55px;
}

.nav-secondary__item {
  margin-left: 10px;
}

/* nav-primary */
.nav-primary {
  align-items: center;
  display: flex;
  width: 100%;
}

.nav-primary__logo {
  flex: 1;
  font-family: "Gill Sans", sans-serif;
  font-size: 2.9rem;
  font-weight: 800;
  text-transform: uppercase;
  margin: 18px 0 18px 55px;
  text-align: left;
}

.nav-primary__list {
  display: flex;
  flex: 2;
  justify-content: center;
}

.nav-primary__item:not(:first-of-type) {
  margin-left: 30px;
}

.nav-primary__search {
  flex: 1;
  margin-right: 55px;
  text-align: right;
}

.nav-primary__input {
  padding: 10px;
}
