/* Main styling */
* {
  font-size: 10px;
  margin: 0 auto;
  text-align: center;
}

p,
span {
  font-size: 1.5rem;
}

li {
  font-size: 1.75rem;
  list-style: none;
}

/* layout */
header {
  display: flex;
}

/* banner */

.banner {
  background-color: #000;
}

.banner__body {
  color: #fff;
  margin: 0;
  padding: 1em 0;
  text-decoration: underline;
}

/* Add inline-block to remove text decoration*/
.banner__span {
  display: inline-block;
  font-weight: 800;
  text-decoration: none;
}

/* logo */
.logo__text {
  font-family: "Lucida Sans", sans-serif;
  font-size: 2.9rem;
  font-weight: 600;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

/* nav */
.nav {
  display: flex;
}
