/* global styles */
html {
  box-sizing: border-box;
  font-size: 10px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  margin: 0 auto;
  overflow-x: hidden;
  text-align: center;
}

a {
  color: #000;
  text-decoration: none;
}

button {
  background: none;
  border: 0px;
}

img {
  width: 90px;
}

input[type="checkbox"] {
  display: none;
}

ul {
  list-style: none;
  padding-left: 0px;
}

/* layout */
.header {
  position: relative;
}

.message {
  background-color: #000;
  margin-bottom: 12.5px;
  padding: 20px 0px;
  text-align: left;
}

.nav {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 910px;
  padding: 0px 20px;
  position: relative;
  width: 100%;
}

.primary__label {
  position: absolute;
  right: 5px;
  top: 1px;
}

.primary-container {
  background-color: #fff;
  display: none;
  height: 100vh;
  overflow-y: scroll;
  padding: 20px;
  position: absolute;
  right: 0px;
  text-align: left;
  top: -70px;
  width: 100vw;
  z-index: 2;
}

.location-container {
  background-color: #fff;
  display: none;
  left: 0px;
  overflow-y: scroll;
  position: absolute;
  top: -70px;
  width: 100vw;
  z-index: 2;
}

.store-list {
  display: none;
}

.tabs {
  margin-left: auto;
  margin-right: 32.5px;
}

.search {
  order: 2;
  position: relative;
  width: 100%;
}

.service {
  order: 3;
}

/* message */
.message__click {
  color: #fff;
  margin: 0px 10px 0px 20px;
}

.message__link {
  color: #fff;
  font-size: 1.35rem;
}

.message__link:hover {
  text-decoration: underline;
  text-decoration-thickness: 1.5px;
}

/* primary-container */
.primary__toggle:checked ~ .primary-container {
  animation-duration: 0.5s;
  animation-name: easeleft;
  animation-timing-function: linear;
  display: flex;
  flex-direction: column;
}

.primary__label {
  border-radius: 50%;
  font-size: 1.9rem;
  padding: 11px 13px;
}

.primary__label:hover {
  background-color: #f5f5f5;
}

.primary-container__banner {
  align-items: center;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin-bottom: 20px;
}

.primary-container__icon {
  font-size: 2rem;
}

.primary-nav__item {
  margin: 25px 0px;
}

.primary-nav__item:nth-of-type(7) {
  margin-top: 60px;
}

.primary-nav__link {
  font-size: 2.65rem;
  font-weight: 600;
  letter-spacing: 1px;
}

.primary-nav__link:hover {
  text-decoration: underline;
}

.primary-nav--shrink {
  font-size: 1.6rem;
}

.primary-nav--roman {
  font-weight: 200;
}

.primary-container__btn {
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  color: rgba(0, 0, 0, 0.7);
  display: flex;
  font-size: 1.35rem;
  letter-spacing: 1px;
  margin: 65px 0px 20px 0px;
  padding: 10px 15px;
}

.primary-container__globe {
  font-size: 2.1rem;
  margin-right: 5px;
}

.primary-container__btn:hover {
  border: 1px solid #000;
  color: #000;
}

/* location-container */
.location__label {
  margin-right: 12px;
}

.location__toggle:checked ~ .location-container {
  animation-duration: 0.4s;
  animation-name: easetop;
  display: flex;
  flex-direction: column;
}

.location-banner {
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
}

.location-banner__label {
  align-self: flex-end;
  background-color: #fff;
  border-radius: 50%;
  margin: 12.5px 12.5px 0px 0px;
  padding: 10px 14px;
}

.location-banner__label:hover {
  background-color: #f5f5f5;
}

.location-banner__icon {
  font-size: 2rem;
}

.location-banner__form {
  margin: 10px 0px;
  position: relative;
}

.location-banner__field {
  border: none;
  border-radius: 100px;
  padding: 22.5px 45px;
  width: 100%;
}

.location-banner__field::-moz-placeholder {
  font-size: 1.8rem;
}

.location-banner__search {
  color: #4d4d4d;
  font-size: 1.7rem;
  position: absolute;
  left: 15px;
  top: 22.5px;
}

.location-banner__btn {
  align-items: center;
  align-self: center;
  background-color: #000;
  border-radius: 40px;
  color: #fff;
  display: flex;
  font-size: 1.3rem;
  font-weight: 600;
  margin: 10px 0px 37.5px 0px;
  padding: 13.5px 25px;
}

.location-banner__marker {
  font-size: 1.4rem;
  margin-right: 15px;
}

.location-banner__btn:hover {
  background-color: #333333;
}

/* location-nav */
.location-nav__item {
  align-items: flex-start;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  color: #5e5e5e;
  display: flex;
  flex-wrap: wrap;
  font-size: 1.6rem;
  margin: 0px 20px 20px 20px;
  padding: 25px 0px;
}

.location-nav__title {
  color: #000;
  font-size: 2rem;
  margin: 0px 0px 40px 0px;
}

.location-nav__body {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.location-nav__place {
  font-weight: 600;
  margin-bottom: 5px;
  text-align: left;
  width: 50%;
}

.location-nav__miles {
  font-weight: 600;
  margin-bottom: 5px;
  text-align: right;
  width: 50%;
}

.location-nav__address {
  line-height: 25px;
  margin: 0px 0px 10px 0px;
  text-align: left;
  width: 50%;
}

.location-nav__link {
  color: #5e5e5e;
  text-align: right;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  width: 50%;
}

.location-nav__link:hover {
  color: #111;
}

.location-nav__toggles {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  width: 100%;
}

.location-nav__label {
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 40px;
  display: flex;
  font-size: 1.55rem;
  font-weight: 600;
  padding: 7.5px 5px;
}

.location-nav__label:hover {
  background-color: #f5f5f5;
}

.location-nav__angle {
  font-size: 2.9rem;
  margin: 0px 5px 0px 10px;
}

.location-nav__fav {
  background-color: #0058a3;
  border-radius: 50%;
  padding: 13px;
}

.location-nav__star {
  color: #fff;
  font-size: 1.6rem;
}

/* store-list */
.store__toggle:checked ~ .store-list {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

.store-list__item {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.store-list__item--bold {
  font-weight: 600;
}

.store-list__key {
  margin: 2px 0px;
  text-align: left;
  width: 50%;
}

.store-list__value {
  margin: 2px 0px;
  text-align: right;
  width: 50%;
}

.store-list__link {
  display: flex;
  font-weight: 600;
  justify-content: space-between;
  margin-bottom: 10px;
  margin-top: 40px;
  width: 100%;
}

.store-list__span {
  text-decoration: underline;
}

.store-list__icon {
  font-size: 2rem;
  text-decoration: none;
}

/* tabs */
.tabs__link,
.user__label {
  border-radius: 50%;
  padding: 13px;
}

.tabs__link:hover,
.user__label:hover {
  background-color: #f5f5f5;
}

.tabs__icon {
  font-size: 1.6rem;
}

/* search */

.search {
  margin: 5px 0px;
  position: relative;
}

.search__field {
  background-color: #f5f5f5;
  border: 0px;
  border-radius: 100px;
  padding: 15px 50px;
  width: 100%;
}

.search__field:hover {
  background-color: #e2e2e2;
}

.search__field::-moz-placeholder {
  font-size: 1.8rem;
}

.search__icon {
  font-size: 1.7rem;
  left: 20px;
  position: absolute;
  top: 15px;
}

.search__camera {
  border-radius: 50%;
  font-size: 1.7rem;
  padding: 10px;
  position: absolute;
  right: 10px;
  top: 5px;
}

.search__camera:hover {
  background-color: #e2e2e2;
}

/* service */
.service {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 1.1rem;
  letter-spacing: 2px;
  padding: 25px 0px 15px 0px;
  text-align: left;
  width: 100%;
}

.service:hover {
  color: #484848;
  text-decoration: underline;
}

/* animation */
/* need js to ease right after reclicking */
@keyframes easeleft {
  0% {
    margin-right: 400px;
  }

  100% {
    margin-right: 0px;
  }
}

@keyframes easetop {
  0% {
    margin-top: 400px;
  }

  100% {
    margin-top: 0px;
  }
}
