/* global styles */
html {
  box-sizing: border-box;
  font-size: 10px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  margin: 0 auto;
  text-align: center;
}

a {
  color: #000;
  text-decoration: none;
}

button {
  background: none;
  border: 0px;
}

img {
  width: 90px;
}

input[type="checkbox"] {
  display: none;
}

ul {
  list-style: none;
  padding-left: 0px;
}

/* layout */
.message {
  background-color: #000;
  padding: 20px 0px;
}

.nav {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 910px;
  padding: 0px 20px;
  width: 100%;
}

.primary__label {
  order: 1;
}

.primary-container {
  display: none;
}

.location-container {
  display: none;
}

.tabs {
  margin-left: auto;
}

.search {
  flex: 1;
  order: 2;
  position: relative;
}
