/* global styles */
html {
  box-sizing: border-box;
  font-size: 10px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  margin: 0 auto;
  overflow-x: hidden;
  text-align: center;
}

a {
  color: #000;
  text-decoration: none;
}

button {
  background: none;
  border: 0px;
}

img {
  width: 90px;
}

input[type="checkbox"] {
  display: none;
}

ul {
  list-style: none;
  padding-left: 0px;
}

/* layout */
.header {
  position: relative;
}

.message {
  background-color: #000;
  margin-bottom: 12.5px;
  padding: 20px 0px;
  text-align: left;
}

.nav {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1685px;
  padding: 0px 20px;
  width: 100%;
}

.category-nav {
  display: none;
}

.primary__label {
  order: 1;
}

.primary-container {
  animation-duration: 0.5s;
  animation-name: easeleft;
  animation-timing-function: linear;
  background-color: #fff;
  display: none;
  height: 100vh;
  left: 0px;
  overflow-y: scroll;
  padding: 20px;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 100vw;
  z-index: 2;
}

.location-container {
  animation-duration: 0.4s;
  animation-name: easetop;
  animation-timing-function: linear;
  background-color: #fff;
  border-radius: 10px;
  display: none;
  overflow-y: scroll;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 100vw;
  z-index: 2;
}

.store-list {
  display: none;
}

.user-container {
  animation-duration: 0.4s;
  animation-name: easetop;
  animation-timing-function: linear;
  display: none;
  height: 100vh;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 100vw;
  z-index: 2;
}

.tabs {
  margin-left: auto;
}

.tabs__icon--hidden {
  display: none;
}

.search {
  order: 2;
  position: relative;
  width: 100%;
}

.service {
  order: 3;
}

/* message */
.message__click {
  color: #fff;
  margin: 0px 10px 0px 20px;
}

.message__link {
  color: #fff;
  font-size: 1.35rem;
}

.message__link:hover {
  text-decoration: underline;
  text-decoration-thickness: 1.5px;
}

/* category-nav */
.category-nav {
  display: none;
  font-weight: 600;
  order: -1;
}

.category-nav__item {
  margin-left: 30px;
}

.category-nav__item:hover {
  text-decoration: underline;
}

/* primary-container */
.primary__toggle:checked ~ .primary-container {
  display: flex;
  flex-direction: column;
}

.primary__label {
  border-radius: 50%;
  font-size: 1.9rem;
  padding: 11px 13px;
}

.primary__label:hover {
  background-color: #f5f5f5;
}

.primary-container__banner {
  align-items: center;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin-bottom: 20px;
}

.primary-container__icon {
  font-size: 2rem;
}

.primary-nav__item {
  margin: 25px 0px;
}

.primary-nav__item:nth-of-type(7) {
  margin-top: 60px;
}

.primary-nav__link {
  font-size: 2.65rem;
  font-weight: 600;
  letter-spacing: 1px;
}

.primary-nav__link:hover {
  text-decoration: underline;
}

.primary-nav--shrink {
  font-size: 1.6rem;
}

.primary-nav--roman {
  font-weight: 200;
}

.primary-container__btn {
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  color: rgba(0, 0, 0, 0.7);
  display: flex;
  font-size: 1.35rem;
  letter-spacing: 1px;
  margin: 65px 0px 20px 0px;
  padding: 10px 15px;
}

.primary-container__globe {
  font-size: 2.1rem;
  margin-right: 5px;
}

.primary-container__btn:hover {
  border: 1px solid #000;
  color: #000;
}

/* location-container */
.location__label {
  margin-right: 12px;
}

.location__span {
  display: none;
}

.location__toggle:checked ~ .location-container {
  display: flex;
  flex-direction: column;
}

.location-banner {
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
}

.location-banner__label {
  align-self: flex-end;
  background-color: #fff;
  border-radius: 50%;
  margin: 12.5px 12.5px 0px 0px;
  padding: 10px 14px;
}

.location-banner__label:hover {
  background-color: #f5f5f5;
}

.location-banner__icon {
  font-size: 2rem;
}

.location-banner__form {
  margin: 10px 0px;
  position: relative;
}

.location-banner__field {
  border: none;
  border-radius: 100px;
  padding: 22.5px 45px;
  width: 100%;
}

.location-banner__field::-moz-placeholder {
  font-size: 1.8rem;
}

.location-banner__search {
  color: #4d4d4d;
  font-size: 1.7rem;
  position: absolute;
  left: 15px;
  top: 22.5px;
}

.location-banner__btn {
  align-items: center;
  align-self: center;
  background-color: #000;
  border-radius: 40px;
  color: #fff;
  display: flex;
  font-size: 1.3rem;
  font-weight: 600;
  margin: 10px 0px 37.5px 0px;
  padding: 13.5px 25px;
}

.location-banner__marker {
  font-size: 1.4rem;
  margin-right: 15px;
}

.location-banner__btn:hover {
  background-color: #333333;
}

/* location-nav */
.location-nav__item {
  align-items: flex-start;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  color: #5e5e5e;
  display: flex;
  flex-wrap: wrap;
  font-size: 1.6rem;
  margin: 0px 20px 20px 20px;
  padding: 25px 0px;
}

.location-nav__title {
  color: #000;
  font-size: 2rem;
  margin: 0px 0px 40px 0px;
}

.location-nav__body {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.location-nav__place {
  font-weight: 600;
  margin-bottom: 5px;
  text-align: left;
  width: 50%;
}

.location-nav__miles {
  font-weight: 600;
  margin-bottom: 5px;
  text-align: right;
  width: 50%;
}

.location-nav__address {
  line-height: 25px;
  margin: 0px 0px 10px 0px;
  text-align: left;
  width: 50%;
}

.location-nav__link {
  color: #5e5e5e;
  text-align: right;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  width: 50%;
}

.location-nav__link:hover {
  color: #111;
}

.location-nav__toggles {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  width: 100%;
}

.location-nav__label {
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 40px;
  display: flex;
  font-size: 1.55rem;
  font-weight: 600;
  padding: 7.5px 5px;
}

.location-nav__label:hover {
  background-color: #f5f5f5;
}

.location-nav__angle {
  font-size: 2.9rem;
  margin: 0px 5px 0px 10px;
}

.location-nav__fav {
  background-color: #0058a3;
  border-radius: 50%;
  padding: 13px;
}

.location-nav__star {
  color: #fff;
  font-size: 1.6rem;
}

/* store-list */
.store__toggle:checked ~ .store-list {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

.store-list__item {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.store-list__item--bold {
  font-weight: 600;
}

.store-list__key {
  margin: 2px 0px;
  text-align: left;
  width: 50%;
}

.store-list__value {
  margin: 2px 0px;
  text-align: right;
  width: 50%;
}

.store-list__link {
  display: flex;
  font-weight: 600;
  justify-content: space-between;
  margin-bottom: 10px;
  margin-top: 40px;
  width: 100%;
}

.store-list__span {
  text-decoration: underline;
}

.store-list__icon {
  font-size: 2rem;
  text-decoration: none;
}

/* user-container */
.user__toggle:checked ~ .user-container {
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.user-banner {
  background-color: #0058a3;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.user-banner__label {
  flex-basis: 100%;
  font-size: 2rem;
  margin: 20px 25px 10px 25px;
  text-align: right;
}

.user-banner__icon {
  border-radius: 50%;
  padding: 12.5px 15px;
}

.user-banner__icon:hover {
  color: #000;
  background-color: #dfdfdf;
}

.user-banner__title {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  flex-basis: 100%;
  font-size: 2.65rem;
  margin: 0px;
  padding: 35px 25px;
  text-align: left;
}

.user-banner__body {
  align-items: center;
  display: flex;
  font-size: 1.3rem;
  line-height: 25px;
  margin: 15px 0px 10px 25px;
}

.user-banner__body:hover {
  text-decoration: underline;
}

.user-banner__text {
  flex: 3;
  text-align: left;
}

.user-banner__span {
  display: block;
  font-size: 1.55rem;
  font-weight: 600;
}

.user-banner__link {
  flex: 1;
}

.user-banner__angle {
  background-color: #fff;
  border-radius: 50%;
  font-size: 2.5rem;
  padding: 10px 15px;
}

.user-nav {
  margin: 35px 0px 0px 25px;
  text-align: left;
}

.user-nav__item {
  font-size: 1.6rem;
  padding-bottom: 35px;
}

.user-nav__link:hover {
  text-decoration: underline;
  text-underline-offset: 1px;
}

/* tabs */
.tabs__link,
.user__label {
  border-radius: 50%;
  padding: 13px;
}

.tabs__link:hover,
.user__label:hover {
  background-color: #f5f5f5;
}

.tabs__icon,
.user__icon {
  font-size: 1.9rem;
}

/* search */

.search {
  margin: 5px 0px;
  position: relative;
}

.search__field {
  background-color: #f5f5f5;
  border: 0px;
  border-radius: 100px;
  padding: 15px 50px;
  width: 100%;
}

.search__field:hover {
  background-color: #e2e2e2;
}

.search__field::-moz-placeholder {
  font-size: 1.8rem;
}

.search__icon {
  font-size: 1.7rem;
  left: 20px;
  position: absolute;
  top: 15px;
}

.search__camera {
  border-radius: 50%;
  font-size: 1.7rem;
  padding: 10px;
  position: absolute;
  right: 10px;
  top: 5px;
}

.search__camera:hover {
  background-color: #e2e2e2;
}

@media (min-width: 424px) {
  .location__label {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 100px;
    margin-right: 0px;
    padding: 12.5px 20px;
  }

  .location__label:hover {
    border: 1px solid rgba(0, 0, 0, 0.5);
  }

  .location__span {
    display: inline-block;
    font-size: 1.3rem;
    font-weight: 600;
    margin-left: 20px;
  }
}

@media (min-width: 599px) {
  .primary-container {
    animation-duration: 0.2s;
  }
  .message {
    text-align: center;
  }

  .nav {
    padding: 0px 35px;
  }

  .location-container,
  .user-container {
    animation-duration: 0.2s;
    animation-name: easeright;
    animation-timing-function: ease-out;
    width: 500px;
  }

  .primary__label {
    right: 20px;
  }
}

@media (min-width: 700px) {
  .logo {
    order: -2;
  }

  .search {
    flex: 1;
    order: -1;
    margin: 0px 40px;
  }
}

@media (min-width: 900px) {
  .message {
    margin-bottom: 20px;
    padding: 12.5px 0px;
  }

  .primary-container {
    padding-left: 0px;
    width: 480px;
  }

  .primary-container__banner {
    flex-direction: row;
  }

  .primary-container__label {
    flex: 1;
    text-align: center;
  }

  .primary-container__logo {
    flex: 2;
  }

  .primary-nav,
  .primary-container__link {
    margin-left: auto;
    width: 67%;
  }

  .logo__img {
    width: 110px;
  }

  .search__field {
    padding: 20px 50px;
  }

  .search__camera {
    top: 10px;
  }

  .search__icon {
    top: 20px;
  }
}

@media (min-width: 1200px) {
  .logo {
    margin: 0px 20px 0px 40px;
  }

  .category-nav {
    display: flex;
  }

  .primary__label {
    order: -3;
  }

  .tabs__icon--hidden {
    display: inline-block;
  }
}

/* animation */
/* need js to ease right after reclicking */
@keyframes easeleft {
  0% {
    left: -400px;
  }

  100% {
    left: 0px;
  }
}

@keyframes easeright {
  0% {
    right: -500px;
  }

  100% {
    right: 0px;
  }
}

@keyframes easetop {
  0% {
    top: 600px;
  }

  100% {
    top: 0px;
  }
}
