/* global styles */
html {
  box-sizing: border-box;
  font-size: 10px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  margin: 0 auto;
  text-align: center;
}

a {
  color: #000;
  text-decoration: none;
}

button {
  background: none;
  border: 0px;
}

img {
  width: 90px;
}

input[type="checkbox"] {
  display: none;
}

ul {
  list-style: none;
  padding-left: 0px;
}

/* layout */
.header {
  position: relative;
}

.message {
  background-color: #000;
  padding: 20px 0px;
  text-align: left;
}

.nav {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 910px;
  padding: 0px 20px;
  width: 100%;
}

.primary__label {
  order: 1;
  margin-left: 25px;
}

.primary-container {
  background-color: #fff;
  display: none;
  height: 100vh;
  overflow-y: scroll;
  padding: 20px;
  position: absolute;
  right: 0px;
  width: 100vw;
  text-align: left;
  top: 0px;
  z-index: 2;
}

.location-container {
  display: none;
}

.tabs {
  margin-left: auto;
}

.search {
  flex: 1;
  order: 2;
  position: relative;
}

/* message */
.message__click {
  color: #fff;
  margin: 0px 10px 0px 20px;
}

.message__link {
  color: #fff;
  font-size: 1.35rem;
}

.message__link:hover {
  text-decoration: underline;
  text-decoration-thickness: 1.5px;
}

/* primary-container */
.primary__toggle:checked ~ .primary-container {
  animation-duration: 0.5s;
  animation-name: easeleft;
  animation-timing-function: linear;
  display: flex;
  flex-direction: column;
}

.primary-container__banner {
  align-items: center;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin-bottom: 20px;
}

.primary-container__icon {
  font-size: 2rem;
}

.primary-nav__item {
  margin: 25px 0px;
}

.primary-nav__item:nth-of-type(7) {
  margin-top: 60px;
}

.primary-nav__link {
  font-size: 2.65rem;
  font-weight: 600;
  letter-spacing: 1px;
}

.primary-nav--shrink {
  font-size: 1.6rem;
}

.primary-nav--roman {
  font-weight: 200;
}

.primary-container__btn {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  margin: 65px 0px 20px 0px;
  padding: 10px;
}

/* animation */
/* need js to ease right after reclicking */
@keyframes easeleft {
  0% {
    margin-right: 400px;
  }

  100% {
    margin-right: 0px;
  }
}
