/* global */
html {
  font-size: 10px;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-size: 1.8rem;
  margin: 0 auto;
  text-align: center;
}

ul {
  list-style: none;
  padding-left: 0;
}

a {
  text-decoration: none;
}

/* layout */
.header {
  box-shadow: 0px 4px 5px -6px;
}

.wrap {
  display: flex;
  height: 115px;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1700px;
  width: 95%;
}

.nav {
  align-items: flex-end;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
}

.primary-nav {
  display: flex;
}

.secondary-nav {
  display: flex;
}

/* logo */
.logo__img {
  width: 145px;
}
