html {
  box-sizing: border-box;
  font-size: 10px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: 2rem;
  margin: 0 auto;
  text-align: center;
}

ul {
  list-style: none;
}

a {
  color: #212121;
  text-decoration: none;
}

.wrap {
  margin: 0 auto;
  width: 90%;
}

.header {
  box-shadow: 0px 1px 10px;
}

/* nav */
.nav {
  display: flex;
  justify-content: space-between;
}

/* primary-nav */
.primary-nav {
  display: flex;
}

.primary-nav__img {
  width: 60px;
}
