html {
  box-sizing: border-box;
  font-size: 10px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: 1.6rem;
  margin: 0 auto;
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  color: #212121;
  text-decoration: none;
}

.wrap {
  margin: 0 auto;
  width: 80%;
}

.header {
  box-shadow: 0px 4px 6px -6px;
}

/* nav */
.nav {
  display: flex;
  justify-content: space-between;
}

/* primary-nav */
.primary-nav {
  display: flex;
  align-items: center;
}

.primary-nav__img {
  margin: 10px 0;
  width: 55px;
}

.primary-nav__item:not(:first-of-type) {
  margin-left: 35px;
}

.primary-nav__link {
  font-weight: 800;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.primary-nav__link:hover {
  color: #008248;
}

/* secondary-nav */
.secondary-nav {
  align-items: center;
  display: flex;
}

.secondary-nav__item {
  font-size: 1.8rem;
  font-weight: 600;
  margin-left: 10px;
}

.secondary-nav__link:first-of-type:hover {
  color: #008248;
}
