/* Main styling */
html {
  font-size: 10px;
}

body {
  margin: 0 auto;
  text-align: center;
}

p,
span {
  font-size: 1.5rem;
}

li {
  font-size: 1.75rem;
  list-style: none;
}

/* layout */
header {
  margin: 0 auto;
  width: 95%;
}

/* banner */

.banner {
  background-color: #000;
}

.banner__body {
  color: #fff;
  margin: 0;
  padding: 1em 0;
  text-decoration: underline;
}

/* Add inline-block to remove text decoration*/
.banner__span {
  display: inline-block;
  font-weight: 800;
  margin-right: 0.5em;
  text-decoration: none;
}

/* logo */
.logo {
  flex: 1;
  text-align: left;
}

.logo__text {
  font-family: "Lucida Sans", sans-serif;
  font-size: 2.9rem;
  font-weight: 600;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

/* nav */
.nav {
  display: flex;
  justify-content: space-between;
}

.nav-primary {
  align-items: center;
  display: flex;
  flex: 3;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.nav-primary__item:hover {
  text-decoration: underline;
}

.nav-secondary {
  align-items: center;
  display: flex;
  flex: 1;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
}

.nav-secondary__item {
  padding-left: 1em;
}

.red {
  color: #d9392e;
}

@media (max-width: 1275px) {
  .nav {
    flex-wrap: wrap;
  }
  .nav-primary {
    order: 1;
  }
}
