/* global styles */
html {
  box-sizing: border-box;
  font-size: 10px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: #000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  margin: 0 auto;
  text-align: center;
}

a {
  text-decoration: none;
}

button {
  border: 0px;
  background: none;
  padding: 0px;
}

input[type="checkbox"] {
  display: none;
}

ul {
  list-style: none;
  margin: 0px;
  padding-left: 0px;
}

img {
  width: 35px;
}

.hover:hover {
  cursor: pointer;
}

/* layout */
.wrap {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.primary-container {
  background-color: #cc0000;
  padding: 15px;
  position: relative;
}

.primary-nav {
  display: none;
  left: 0px;
  position: absolute;
  top: 68px;
  z-index: 2;
}

.shop-nav {
  display: none;
  left: 15px;
  position: absolute;
  top: 70px;
  z-index: 2;
}

.secondary-container {
  background-color: #fff;
  padding: 7px 15px;
  position: relative;
}

.location-container {
  border-top: 1px solid #efefef;
  display: none;
  left: 0px;
  padding: 0px 10px;
  position: absolute;
  top: 53px;
  z-index: 2;
}

.user-nav {
  display: none;
  position: absolute;
  top: 50px;
  right: 0px;
  z-index: 2;
}

/* primary-container */

/* primary-nav */
.primary__label {
  color: #fff;
  font-size: 2rem;
  font-weight: 600;
  margin: 0px 10px;
  position: relative;
}

.primary__icon {
  bottom: 0px;
  font-size: 1.5rem;
  margin-left: 5px;
  position: absolute;
}

.primary__label:hover {
  text-decoration: underline;
}

.primary__toggle:checked ~ .primary-nav {
  text-align: left;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.primary-nav__item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin: 0px 15px;
  padding: 15px 175px 15px 0px;
}

.primary-nav__item:nth-of-type(5) {
  padding-right: 0px;
}

.primary-nav__item:nth-of-type(6) {
  border: 0px;
  padding-bottom: 35px;
}

.primary-nav__item:nth-of-type(7) {
  background-color: #f7f7f7;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 2rem;
  font-weight: 600;
  padding: 15px 95px 15px 15px;
  margin: 0px;
}

.primary-nav__link,
.primary-nav__btn {
  align-items: center;
  color: #000;
  display: flex;
  font-size: 2rem;
  justify-content: space-between;
}

.primary-nav__link:hover,
.primary-nav__btn:hover {
  text-decoration: underline;
  text-decoration-thickness: 1px;
}

.primary-nav__span {
  color: #666;
  font-size: 1.7rem;
}

/* shop-nav */
.shop__label {
  color: #fff;
  font-size: 2.5rem;
  position: relative;
  margin: 0px 25px;
}

.shop__icon {
  bottom: 3px;
  font-size: 1.5rem;
  margin-left: 10px;
  position: absolute;
}

.shop__toggle:checked ~ .shop-nav {
  display: flex;
  background-color: #fff;
  border-radius: 5px;
  flex-direction: column;
  text-align: left;
}

.shop-nav__item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin: 0px 15px;
  padding: 15px 175px 15px 0px;
}

.shop-nav__link {
  color: #000;
  font-size: 2rem;
}

.shop-nav__link:hover {
  text-decoration: underline;
  text-decoration-thickness: 1px;
}

/* search */
.search {
  margin: 0px 10px;
  position: relative;
  flex: 1;
}

.search__field {
  border: 0px;
  border-radius: 20px;
  height: 37.5px;
  padding: 0 10px;
  width: 100%;
}

.search__icon {
  background-color: #f7f7f7;
  border-radius: 0px 20px 20px 0px;
  font-size: 1.5rem;
  padding: 10px 14px;
  position: absolute;
  right: 0px;
  top: 0px;
}

::placeholder {
  color: #b4b4b4;
  font-size: 1.75rem;
}

.cart__icon {
  color: #fff;
  font-size: 2rem;
}

/* secondary-container */
.location__label {
  font-size: 1.3rem;
  padding: 3px;
  position: relative;
  text-align: left;
}

.location__label:active {
  border: 1px dotted black;
  border-radius: 5px;
}

.location--green {
  color: #006601;
}

.location--bold {
  display: block;
  font-size: 1.6rem;
  font-weight: 600;
}

.location__icon {
  bottom: 0px;
  position: absolute;
  right: 0px;
}

.location__toggle:checked ~ .location-container {
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.location-tab {
  margin: 30px 10px;
}

.location-tab__link {
  color: #000;
  text-decoration: underline;
}

.location-tab__icon {
  margin: 20px 20px 25px 0px;
}

.location-tab__form {
  margin: 0 auto;
  width: 80%;
}

.location-tab__field {
  padding: 15px;
  width: 70%;
}

.location-tab__header,
.location-item__header {
  font-size: 2.6rem;
  margin: 0px;
}

.location-tab__btn,
.store__set {
  background-color: #cc0000;
  border-radius: 5px;
  color: #fff;
  padding: 16.5px 25px;
}

.location-item {
  border-top: 1px solid #efefef;
  padding: 10px 0px;
}
