html {
  box-sizing: border-box;
  font-size: 10px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: 1.6rem;
  margin: 0 auto;
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  color: #212121;
  text-decoration: none;
}

.wrap {
  margin: 0 auto;
  width: 90%;
  max-width: 1750px;
}

.header {
  box-shadow: 0px 4px 6px -6px;
}

/* nav */
.nav {
  display: flex;
  justify-content: space-between;
}

/* primary-nav */
.primary-nav {
  display: flex;
  align-items: center;
}

.primary-nav__img {
  margin: 10px 0;
  width: 55px;
}

.primary-nav__item:not(:nth-of-type(1)) {
  margin-left: 35px;
}

.primary-nav__link {
  font-weight: 800;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.primary-nav__link:hover {
  color: #008248;
}

/* secondary-nav */
.secondary-nav {
  align-items: center;
  display: flex;
}

.secondary-nav__item {
  font-size: 1.8rem;
  font-weight: 600;
}

.secondary-nav__item:nth-of-type(1) {
  margin-right: 40px;
}

.secondary-nav__item:nth-of-type(3) {
  margin: 0 40px 0 15px;
}

.secondary-nav__icon {
  margin-right: 10px;
}

.secondary-nav__item:nth-of-type(1) > .secondary-nav__link:hover {
  color: #008248;
}

.secondary-nav__btn {
  border: 1px solid #000000;
  border-radius: 20px;
  padding: 7px 15px;
}

.invert {
  background-color: #000000;
  color: #fafafa;
}

.secondary-nav__btn:hover {
  background-color: #f0f0f0;
}

.invert:hover {
  background-color: #4c4c4c;
}
