/* variables */
:root {
  --ban-color: #901816;
  --ban-icon-color: #7a1413;
  --bg-color: #f7f1e3;
  --btn-color: #ff6c45;
  --footer-color: #262626;
  --nav-color: #434242;
  --res-color: #e9e4d8;
  --sec-color: #575757;
}

/* global styles */
html {
  font-size: 16px;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  margin: 0 auto;
  text-align: left;
}

a {
  color: #000;
  text-decoration: none;
}

button {
  background-color: transparent;
  border: 1px solid var(--btn-color);
  padding: 0.5em 1em;
}

img {
  width: 100px;
}

input[type="checkbox"] {
  display: none;
}

ul {
  list-style: none;
  padding-left: 0em;
}

/* fonts  */
@font-face {
  font-family: "Shadows Into Light";
  src: url(../fonts/ShadowsIntoLight-Regular.ttf);
  font-weight: 400;
}

/* layout */
.wrap {
  padding: 0em 1em;
}

.header {
  align-items: center;
  display: flex;
  flex-direction: column-reverse;
}

.nav {
  background-color: var(--nav-color);
  position: relative;
  width: 100%;
}

.wrap--nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 1em;
  width: 100%;
}

.primary-container {
  display: none;
  height: 100vh;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 100vw;
}

.banner {
  background-color: var(--ban-color);
  padding: 1em 0em;
  position: relative;
  text-align: center;
  width: 100%;
}

/* banner */
.banner__link {
  color: #fff;
  font-size: 1.15rem;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.banner__label {
  background-color: var(--ban-icon-color);
  display: grid;
  height: 100%;
  place-items: center;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 45px;
}

.banner__icon {
  color: #fff;
  cursor: pointer;
  font-size: 0.8rem;
}

.banner__toggle:checked ~ .banner {
  display: none;
}

/* nav */
.nav__logo {
  color: #fff;
  font-family: "Shadows Into Light", sans-serif;
  font-size: 2rem;
}

.nav__icon {
  color: #fff;
  cursor: pointer;
  font-size: 1.65rem;
}

.nav__toggle:checked ~ .primary-container {
  background-color: var(--footer-color);
  display: flex;
}

/* animation */
@keyframes easeleft {
  0% {
    right: -500px;
  }
  100% {
    right: 0px;
  }
}
