/* variables */
:root {
  --ban-color: #901816;
  --ban-icon-color: #7a1413;
  --bg-color: #f7f1e3;
  --btn-color: #ff6c45;
  --footer-color: #262626;
  --nav-color: #434242;
  --res-color: #e9e4d8;
  --sec-color: #575757;
}

/* global styles */
html {
  font-size: 16px;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: #000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  margin: 0 auto;
  text-align: left;
}

a {
  color: #000;
  text-decoration: none;
}

button {
  background-color: transparent;
  border: 1px solid var(--btn-color);
  padding: 0.5em 1em;
}

img {
  width: 100px;
}

input[type="checkbox"] {
  display: none;
}

ul {
  list-style: none;
  margin: 0em;
  padding-left: 0em;
}

/* fonts  */
@font-face {
  font-family: "Shadows Into Light";
  src: url(../fonts/ShadowsIntoLight-Regular.ttf);
  font-weight: 400;
}

/* layout */
.wrap {
  padding: 0em 1em;
}

.header {
  align-items: center;
  display: flex;
  flex-direction: column-reverse;
}

.nav {
  background-color: var(--nav-color);
  position: relative;
  width: 100%;
}

.wrap--nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1700px;
  padding: 1em;
  width: 100%;
}

.primary-container {
  animation-duration: 0.2s;
  animation-name: easeleft;
  display: none;
  height: 100vh;
  padding: 1.4em;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 100vw;
}

.banner {
  background-color: var(--ban-color);
  padding: 1em 0em;
  position: relative;
  text-align: center;
  width: 100%;
}

/* banner */
.banner__link {
  color: #fff;
  font-size: 1.15rem;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.banner__label {
  background-color: var(--ban-icon-color);
  display: grid;
  height: 100%;
  place-items: center;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 45px;
}

.banner__icon {
  color: #fff;
  cursor: pointer;
  font-size: 0.8rem;
}

.banner__toggle:checked ~ .banner {
  display: none;
}

/* nav */
.nav__logo {
  color: #fff;
  font-family: "Shadows Into Light", sans-serif;
  font-size: 2rem;
}

.nav__icon {
  color: #fff;
  cursor: pointer;
  font-size: 1.65rem;
}

.nav__toggle:checked ~ .primary-container {
  background-color: var(--footer-color);
  display: flex;
  flex-direction: column;
}

.primary-container__label {
  align-self: flex-end;
}

.primary-container__icon {
  color: var(--btn-color);
  font-size: 1.45rem;
}

.primary-nav__item {
  margin-bottom: 1.4em;
}

.primary-nav__link {
  color: #fff;
  font-size: 1rem;
  letter-spacing: 2px;
  text-transform: uppercase;
}

/* responsive */
@media (min-width: 640px) {
  .banner {
    order: 1;
  }

  .nav {
    background-color: transparent;
  }

  .wrap--nav {
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 2.5em 1em 0em 1em;
  }

  .nav__logo {
    font-size: 3.2rem;
  }

  .nav__label,
  .primary-container__label {
    display: none;
  }

  .primary-container {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: flex-end;
    padding: 0em;
    position: initial;
    width: 80%;
  }

  .primary-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
  }

  .primary-nav__item {
    margin: 0em 0em 0em 1em;
  }

  .primary-nav__item:nth-of-type(1) {
    margin: 0em;
  }

  .primary-nav__item:nth-of-type(5),
  .primary-nav__item:nth-of-type(6) {
    margin-top: 0.85em;
  }

  .primary-nav__link {
    font-size: 0.91rem;
    letter-spacing: 1px;
  }
}

@media (min-width: 754px) {
  .primary-nav__item:nth-of-type(5) {
    margin-top: 0em;
  }
}

@media (min-width: 836px) {
  .primary-nav__item:nth-of-type(6) {
    margin-top: 0em;
  }
}

@media (min-width: 1182px) {
  .nav__logo {
    font-size: 4.5rem;
  }

  .wrap--nav {
    padding: 2.5em 10em 0em 10em;
  }
}

/* animation */
@keyframes easeleft {
  0% {
    right: 500px;
  }

  100% {
    right: 0px;
  }
}
