/* global */
html {
  font-size: 10px;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-size: 1.8rem;
  margin: 0 auto;
  text-align: center;
}

ul {
  list-style: none;
  padding-left: 0;
}

a {
  text-decoration: none;
}

/* layout */
.header {
  box-shadow: 0px 4px 5px -6px;
}

.wrap {
  display: flex;
  height: 115px;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1700px;
  width: 95%;
}

.nav {
  align-items: flex-end;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
}

.primary-nav {
  display: flex;
  margin-bottom: 17.5px;
}

.secondary-nav {
  display: flex;
  margin: 0;
}

/* logo */
.logo__img {
  width: 145px;
  box-shadow: 0px 0px 10px -7px;
}

/* primary-nav */
.primary-nav__item {
  padding: 10px 26px;
}

.primary-nav__link {
  color: #818181;
  font-family: "Lucida Sans", sans-serif;
  font-size: 1.4rem;
  text-transform: uppercase;
}

.primary-nav__item:nth-of-type(2) {
  background-color: #c0a264;
}

.primary-nav__item:nth-of-type(2) > .primary-nav__link {
  color: #fefefe;
}

.primary-nav__link:hover {
  color: #990000;
  text-decoration: underline;
}

/* secondary-nav */
.secondary-nav__item {
  padding: 1px 14px;
  margin-top: 7px;
}

.secondary-nav__item:first-of-type {
  border-right: 1px solid rgba(0, 0, 0, 0.5);
}

.secondary-nav__link {
  color: #181818;
  font-family: "Lucida Sans", sans-serif;
  font-size: 1.4rem;
  text-transform: uppercase;
}

.secondary-nav__icon {
  font-size: 1.8rem;
}

.secondary-nav__link:hover {
  color: #990000;
  text-decoration: underline;
}
