/* globals */
html {
  box-sizing: border-box;
  font-size: 10px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: #f4eddd;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  margin: 0 auto;
  text-align: center;
}

.header {
  background: #fff;
}

a {
  color: #000;
  text-decoration: none;
}

button {
  border: 0px;
  background: none;
  padding: 0px;
}

input[type="checkbox"] {
  display: none;
}

img {
  width: 45px;
}

ul {
  list-style: none;
  padding-left: 0px;
}

/* layout */
.nav {
  align-items: center;
  display: flex;
  padding: 20px;
  position: relative;
}

.primary-container {
  /* display: none; */
  position: absolute;
  top: 0px;
}

.tabs {
  display: flex;
  margin-left: auto;
}

.user-container {
  display: none;
}

.search-nav {
  display: none;
}
