/* globals */
html {
  box-sizing: border-box;
  font-size: 10px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: #f4eddd;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  margin: 0 auto;
  text-align: center;
}

.header {
  background: #fff;
}

a {
  color: #000;
  text-decoration: none;
}

button {
  border: 0px;
  background: none;
  padding: 0px;
}

input[type="checkbox"] {
  display: none;
}

img {
  width: 45px;
}

ul {
  list-style: none;
  padding-left: 0px;
}

/* layout */
.nav {
  align-items: center;
  display: flex;
  padding: 20px;
  position: relative;
}

.primary-container {
  background-color: #fff;
  display: none;
  left: 0px;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 92.5%;
}

.tabs {
  display: flex;
  margin-left: auto;
}

.user-container {
  display: none;
  background-color: #fff;
  position: absolute;
  left: 7.5%;
}

.search-nav {
  display: none;
  background-color: #fff;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

/* primary-nav */
.primary__icon {
  font-size: 2rem;
  margin-right: 7.5px;
}

.primary__toggle:checked ~ .primary-container {
  display: flex;
  flex-direction: column;
}

.primary-container__toggle {
  bottom: 50%;
  position: fixed;
  right: 10px;
}

.primary-container__exit {
  color: #fff;
  font-size: 4rem;
}

.primary-container__label {
  align-items: center;
  background-color: #f4dcd6;
  display: flex;
  font-size: 1.35rem;
  padding: 25px;
}

.primary-container__icon {
  font-size: 2.25rem;
  margin-right: 20px;
}

.primary-nav__item {
  padding: 25px;
}

.primary-nav__item:nth-of-type(1) {
  padding-top: 10px;
}

.primary-nav__btn {
  align-items: center;
  display: flex;
  font-size: 2rem;
  justify-content: space-between;
  width: 100%;
}

.primary-nav__icon {
  font-size: 1.6rem;
}

.secondary-nav {
  display: flex;
  flex-direction: column;
}

.secondary-nav__item {
  padding: 25px;
  width: 100%;
}

.secondary-nav__item:nth-of-type(1) {
  padding-top: 0px;
}

.secondary-nav__link {
  font-size: 1.4rem;
}

.primary-nav__item:hover,
.primary-nav__btn:hover,
.secondary-nav__item:hover {
  cursor: pointer;
}

/* user */
.user__toggle:checked ~ .user-container {
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  padding: 25px;
}

.user-container__label {
  margin-bottom: 10px;
  text-align: right;
}

.user-container__icon {
  font-size: 3rem;
}

.user-container__header {
  margin: 0;
}

.user-container__desc {
  margin-bottom: 40px;
}

.user-form {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.user-form__field {
  padding: 20px 10px 20px 10px;
  width: 100%;
}

::placeholder {
  font-weight: 600;
  text-align: right;
  text-transform: uppercase;
}

.user-form__label {
  font-size: 1.4rem;
  margin: 12.5px 0px;
}

.user-form__span {
  color: #d60420;
}

.user-form__checkbox {
  display: block !important;
}
