/* Global styles */
html {
  box-sizing: border-box;
  font-size: 10px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: 1.6rem;
  margin: 0 auto;
  text-align: center;
}

ul {
  list-style: none;
  padding-left: 0;
}

a {
  text-decoration: none;
}

button {
  background-color: #ffffff;
  border: 0;
  padding: 0;
}

/* layout */

.wrap {
  margin: 0 auto;
  width: 55%;
}

.nav {
  display: flex;
  flex-direction: column;
}

/* banner */
.banner {
  background-color: #000000;
}

.banner__message {
  color: #f6f6f6;
  font-weight: 600;
  margin: 0;
  padding: 7px 0;
}

.banner__link {
  color: #f6f6f6;
  text-decoration: underline;
}

/* main-nav */
.main-nav {
  display: flex;
  justify-content: space-between;
  order: 3;
}

.primary-nav {
  align-items: center;
  display: flex;
}

.secondary-nav {
  align-items: center;
  display: flex;
}

.primary-nav__link,
.primary-nav__btn,
.secondary-nav__link,
.secondary-nav__btn {
  color: #2f292b;
  font-family: "Lucida Sans", sans-serif;
  font-size: 1.6rem;
  font-weight: 800;
  padding: 10px 8px;
  text-transform: uppercase;
}

.primary-nav__link:hover,
.primary-nav__btn:hover,
.secondary-nav__link:hover,
.secondary-nav__btn:hover {
  background-color: #484848;
  color: #ffffff;
}

/* user-nav */
.user-nav {
  align-items: center;
  background-color: #3f3f3f;
  display: flex;
  justify-content: space-between;
}

.user-nav__list {
  display: flex;
  margin: 0;
}

.user-nav__text {
  color: #ffffff;
  font-size: 1.6rem;
  margin: 11px 23px;
}

.user-nav__link {
  color: #ffffff;
  font-size: 1.45rem;
  font-weight: 600;
  letter-spacing: 0px;
  margin-right: 23px;
  text-transform: uppercase;
}

.user-nav__text:hover,
.user-nav__link:hover {
  color: #ed1c24;
}

/* search-nav */
.search-nav {
  border-bottom: 1px solid #000;
}

.search-wrap {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.search-nav__logo {
  margin: 25px 0;
  width: 450px;
}

.search-bags {
  text-align: left;
}

.search-nav__form {
  position: relative;
}

.search-nav__field {
  border: none;
  border-bottom: 1px solid #000;
  margin-bottom: 15px;
  padding: 0 130px 15px 0;
}

::placeholder {
  font-size: 1.25rem;
  font-weight: 600;
}

.search-nav__icon {
  position: absolute;
  right: 0px;
}

.search-nav__btn {
  font-size: 1.35rem;
  font-weight: 600;
  text-transform: uppercase;
}

.search-nav__btn:hover {
  color: #ed1c24;
}
