/* global styles */

html {
  box-sizing: border-box;
  font-size: 10px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.55rem;
  margin: 0 auto;
  text-align: center;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding-left: 0px;
}

button {
  background: none;
  border: 0px;
  padding: 0px;
}

/* layout */
.banner {
  background-color: #ffb50f;
  padding: 6px 0;
}

.nav {
  background-color: #eeeeee;
}

.nav-wrap {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 99%;
}

.secondary-nav {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  order: -1;
}

.primary-area {
  display: flex;
  justify-content: space-between;
}

.user-nav {
  display: flex;
}

/* banner */
.banner__message {
  font-size: 1.75rem;
}

.banner__link {
  color: #000;
  font-weight: 700;
  text-decoration: underline;
}

/* nav */

/* logo */
.logo {
  width: 225px;
}

/* primary-area */

/* secondary-nav */
.secondary-nav__item {
  margin: 11px 30px 0px 0px;
}

.secondary-nav__item:last-of-type {
  /* margin-right: 20px; */
  position: relative;
}

.secondary-nav__link,
.secondary-nav__btn {
  color: #0060a9;
  font-size: 1.6rem;
  letter-spacing: -0.5px;
}

.secondary-nav__icon {
  font-size: 2.7rem;
  margin-left: 2px;
  position: absolute;
  top: 0px;
}

.secondary-nav__link:hover {
  text-decoration: underline;
}
