/* global styles */

html {
  box-sizing: border-box;
  font-size: 10px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.55rem;
  margin: 0 auto;
  text-align: center;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding-left: 0px;
}

button {
  background: none;
  border: 0px;
  padding: 0px;
}

/* layout */
.banner {
  background-color: #ffb50f;
  padding: 6px 0;
}

.nav {
  background-color: #eeeeee;
}

.nav-wrap {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 99%;
}

.secondary-nav {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  order: -1;
}

.primary-area {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0px 10px;
}

.user-nav {
  display: flex;
}

/* banner */
.banner__message {
  font-size: 1.75rem;
}

.banner__link {
  color: #000;
  font-weight: 700;
  text-decoration: underline;
}

/* nav */

/* logo */
.logo {
  width: 225px;
}

/* primary-area */
.primary-area {
  position: relative;
}

.primary-check {
  display: none;
}

.primary-btn {
  background-color: #0073a6;
  color: #fff;
  display: inline-block;
  font-size: 2rem;
  margin-bottom: 10px;
  padding: 10px 10px 10px 40px;
  position: relative;
}

.primary-btn__icon {
  font-size: 2.1rem;
  left: 10px;
  position: absolute;
}

.primary-check:checked ~ .primary-btn ~ .primary-nav {
  display: flex;
  flex-direction: column;
}

.primary-nav {
  display: none;
  position: absolute;
  text-align: left;
  top: 50px;
}

.search {
  position: relative;
}

.search__field {
  margin-bottom: 10px;
  padding: 12.5px 470px 12.5px 15px;
}

::placeholder {
  font-size: 1.7rem;
}

.search__icon {
  color: #0060a9;
  font-size: 2.5rem;
  position: absolute;
  right: 15px;
  top: 10px;
  transform: rotate(90deg);
}

/* secondary-nav */
.secondary-nav__item {
  margin: 11px 30px 0px 0px;
}

.secondary-nav__item:last-of-type {
  position: relative;
}

.secondary-nav__link,
.secondary-nav__btn {
  color: #0060a9;
  font-size: 1.6rem;
  letter-spacing: -0.5px;
}

.secondary-nav__icon {
  font-size: 2.7rem;
  margin-left: 2px;
  position: absolute;
  top: 0px;
}

.secondary-nav__link:hover {
  text-decoration: underline;
}
