/* global styles */

html {
  box-sizing: border-box;
  font-size: 10px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: lightgray;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.55rem;
  margin: 0 auto;
  text-align: center;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding-left: 0px;
}

button {
  background: none;
  border: 0px;
  padding: 0px;
}

/* layout */
.banner {
  background-color: #ffb50f;
  padding: 6px 0;
}

.header {
  box-shadow: 0px 4px 6px -6px;
}

.nav {
  background-color: #eeeeee;
}

.nav-wrap {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 99%;
}

.secondary-nav {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  order: -1;
}

.primary-area {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0px 10px;
}

.user-nav {
  display: flex;
  margin-bottom: 10px;
}

/* banner */
.banner__message {
  font-size: 1.75rem;
}

.banner__link {
  color: #000;
  font-weight: 700;
  text-decoration: underline;
}

/* nav */

/* logo */
.logo {
  width: 225px;
}

/* primary-area */
.primary-area {
  position: relative;
}

.primary-check {
  display: none;
}

.primary-btn {
  background-color: #0073a6;
  color: #fff;
  display: inline-block;
  font-size: 2rem;
  margin-bottom: 10px;
  padding: 10px 10px 10px 40px;
  position: relative;
}

.primary-btn__icon {
  font-size: 2.1rem;
  left: 10px;
  position: absolute;
}

.primary-check:checked ~ .primary-btn ~ .primary-nav {
  display: flex;
  flex-direction: column;
}

.primary-nav {
  background-color: #fff;
  display: none;
  padding: 10px 20px 0px 20px;
  position: absolute;
  text-align: left;
  top: 53px;
  width: 280px;
  z-index: -1;
}

.primary-nav__item {
  padding: 10px 0px;
}

.primary-nav__item:nth-of-type(24) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 40px;
}

.primary-nav__item:nth-of-type(25) {
  padding-top: 40px;
}

.primary-nav__btn {
  font-size: 1.7rem;
  text-align-last: left;
}

.primary-nav__btn:hover {
  font-weight: 900;
  text-align: left;
}

.search {
  position: relative;
}

.search__field {
  border: 1px solid #0060a9;
  margin-bottom: 10px;
  padding: 12.5px 450px 12.5px 15px;
}

::placeholder {
  font-size: 1.7rem;
}

.search__icon {
  color: #0060a9;
  font-size: 2.5rem;
  position: absolute;
  right: 15px;
  top: 10px;
  transform: rotate(90deg);
}

.user-nav__item {
  padding: 0 7px;
}

.user-nav__item:not(:first-of-type) {
  border-left: 1px solid #000;
}

.user-nav__btn,
.user-nav__link {
  color: #0060a9;
  display: flex;
  flex-direction: column-reverse;
  font-size: 1.6rem;
}

.user-nav__btn:hover,
.user-nav__link:hover {
  text-decoration: underline;
}

.user-nav__item:nth-of-type(3) {
  padding-left: 13px;
  padding-right: 0px;
}

.user-nav__icon {
  display: inline-block;
  font-size: 2.1rem;
}

/* secondary-nav */
.secondary-nav__item {
  margin: 11px 30px 0px 0px;
}

.secondary-nav__item:last-of-type {
  position: relative;
}

.secondary-nav__link,
.secondary-nav__btn {
  color: #0060a9;
  font-size: 1.6rem;
  letter-spacing: -0.5px;
}

.secondary-nav__icon {
  font-size: 2.7rem;
  margin-left: 2px;
  position: absolute;
  top: 0px;
}

.secondary-nav__link:hover {
  text-decoration: underline;
}
